.signUpPage {
    background-color: #EDEDED;
  }

.signUpForm {
    background-color: #B7C7FF;
    margin: 5rem;
    border-radius: 1rem;
    text-align: center;
    padding: 3rem;
}

.suMenuItem {
    margin-right: 3rem;
    color: #030303;
    
  }

.suMainContent {
    margin:5rem;
  }
  
.suNavItem {
    font: Inter;
    font-size: medium;
    font-weight: 600;
    margin-bottom: 1rem;
    vertical-align: super;
    padding-top:0.2rem;
  }
  
.suLogo {
     font-weight: 600;
     font-size: xx-large;
     font: Poppins;
}


.suFormHeading {
   font: Poppins;
   font-size: 4rem;
   font-weight: bold;
}


.suNameInputs {
    display:flex;
    margin-bottom:1rem;
}


.suForm{
    text-align: initial;
    margin-top: 5rem;
    margin-left: 12rem;
    margin-right: 10rem;
}

.suName {
    flex:50%;
    font: Poppins;
    font-weight:bold;
    margin-bottom:0.5rem;
}

.suInput {
    flex:50%;
    margin-top:0.5rem;
}


.suNameInputField {
    border-radius:0.5rem;
    width: 90%;
    border:none;
    height:1.5rem;
    margin-top:0.5rem;
}

.suEmailInputField {
    border-radius:0.5rem;
    width: 95%;
    border:none;
    height:1.5rem;
    margin-top:0.5rem;
    margin-bottom:1rem;
}

.suDobInputField {
    border-radius:0.5rem;
    width: 95%;
    border:none;
    height:1.5rem;
    margin-top:0.5rem;
    margin-bottom:1rem;
}

.suButtonStyle{
    background-color: #3164F4;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
    font-weight: bold;
    border-radius: 0.5rem;
    
  }

.suTextBelow {
    padding-right:1rem;
    margin-top:1rem;
}

.suLogin {
    margin-left:0.5rem;
    color: #3164F4;
    font-weight:bold;
}

.suFooterSection {
    margin-top:1rem;
    display:flex;
}

.suColumn {
    width:20%;
}

.suAtIHR {
    margin-top:1rem;
    font-size:0.8rem;
}

.suAllRights {
    font-size:0.8rem;
}

.suFooterText {
    font-weight: bold;
    margin-top: 1rem;
    color: #262626;
    font-size:0.8rem;
}

.suErrorMessage {
    display:none;
    color: red;
    font-style: italic;
}