.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .eiTask {
   height:20rem;
   width:20rem;
  }

  
  .eiTextSection {
    flex:30%;
    padding-top: 2rem;
    margin-left: 3rem;
  }
  
  
  .eiHeading{
    font: Poppins;
    font-weight: 600;
    font-size: 72px;
  }
  
  .eiSubText{
    padding-top: 1rem;
    font-size: 2rem;
  }
  
  
  .eiTaskImage {
    padding-left: 25%;
    padding-top:5%;
    flex:20%;
  }
  
  .eiInputs {
      padding-top:2rem;
  }
  
  .eiButtonStyle{
    background-color: #3164F4;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
    font-weight: bold;
    border-radius: 0.5rem;
    
  }
  
  .eiIhrApp {
    background-color: #EDEDED;
  }
  
  .eiMainContent {
    margin:5rem;
  }
  
  .eiMenuItem {
    margin-right: 3rem;
    color: #030303;
    
  }
  
  .eiNavItem {
    font: Inter;
    font-size: medium;
    font-weight: 600;
    margin-bottom: 1rem;
    vertical-align: super;
    padding-top:0.2rem;
  }
  
  .eiLogo {
     font-weight: 600;
     font-size: xx-large;
     font: Poppins;
  }
  
  .eiMainHeading {
    margin:2rem;
    display:flex;
    padding-bottom:4rem;
  }

  .eiEhrInputField {
    border-radius:0.5rem;
    width: 95%;
    border:groove;
    height:1.5rem;
    margin-top:0.5rem;
    margin-bottom:2rem;
    padding-left:1rem;
  }
  
  .eiFooterSection {
    margin-top:1rem;
    display:flex;
  }
  
  .eiColumn {
    width:20%;
  }
  
  .eiAtIHR {
    margin-top:1rem;
    font-size:0.8rem;
  }
  
  .eiAllRights {
    font-size:0.8rem;
  }
  
  .eiFooterText {
    font-weight: bold;
    margin-top: 1rem;
    color: #262626;
    font-size:0.8rem;
  }

  .eiErrorMessage {
    display:none;
    color: red;
    font-style: italic;
}
  

  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  