.logInPage {
    background-color: #EDEDED;
  }

.logInForm {
    background-color: #B7C7FF;
    margin: 5rem;
    border-radius: 1rem;
    text-align: center;
    padding: 3rem;
}

.lmenuItem {
    margin-right: 3rem;
    color: #030303;
    
  }
  
  .lnavItem {
    font: Inter;
    font-size: medium;
    font-weight: 600;
    margin-bottom: 1rem;
    vertical-align: super;
    padding-top:0.2rem;
  }
  
  .llogo {
     font-weight: 600;
     font-size: xx-large;
     font: Poppins;
  }


.lformHeading {
   font: Poppins;
   font-size: 4rem;
   font-weight: bold;
}


.lnameInputs {
    display:flex;
    margin-bottom:1rem;
}


.lform{
    text-align: initial;
    margin-top: 5rem;
    margin-left: 12rem;
    margin-right: 10rem;
}

.lname {
    flex:50%;
    font: Poppins;
    font-weight:bold;
    margin-bottom:0.5rem;
}

.linput {
    flex:50%;
    margin-top:0.5rem;
}

.lmainContent {
    margin:5rem;
  }


.lnameInputField {
    border-radius:0.5rem;
    width: 90%;
    border:none;
    height:1.5rem;
    margin-top:0.5rem;
}

.lbuttonStyle{
    background-color: #3164F4;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
    font-weight: bold;
    border-radius: 0.5rem;
    
  }

.lemailInputField {
    border-radius:0.5rem;
    width: 95%;
    border:none;
    height:1.5rem;
    margin-top:0.5rem;
    margin-bottom:1rem;
}

.ldobInputField {
    border-radius:0.5rem;
    width: 95%;
    border:none;
    height:1.5rem;
    margin-top:0.5rem;
    margin-bottom:1rem;
}

.ltextBelow {
    margin-top:1rem;
}

.login {
    margin-left:0.5rem;
    color: #3164F4;
    font-weight:bold;
}

.lfooterSection {
    margin-top:1rem;
    display:flex;
}

.lcolumn {
    width:20%;
}

.latIHR {
    margin-top:1rem;
    font-size:0.8rem;
}

.lallRights {
    font-size:0.8rem;
}

.lfooterText {
    font-weight: bold;
    margin-top: 1rem;
    color: #262626;
    font-size:0.8rem;
}